<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="../../css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../../css/normalize.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="contact.css">
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="d-flex contact-container">
            <h1 class="call-text">CONT&Aacute;CTENOS</h3>
            <div class="contact-card">
                <ul class="contact-list-info">
                    <li> Ave. Jes&uacute;s L&oacute;pez No. 55 e/ Yola Y Villanueva, Habana Vieja, La Habana </li>
                    <li> (+53) 7 696 7234 </li>
                    <li> institucional@eppo.co.cu </li>
                </ul>

                <p class="icons-row"> Cont&aacutectenos : icon icon icon </p>
            </div>
        </div>
    </div>
</body>

</html>
