<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="../../css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../../css/normalize.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="vote-card.css">
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="vote-card">
            <h6 class="vote-card-header"><?php echo pll__('¿Te resultó útil este contenido?'); ?></h6>
            <p class="vote-card-score text-center">
                <i><span> * </span></i>
                <i><span> * </span></i>
                <i><span> * </span></i>
                <i><span> * </span></i>
                <i><span> * </span></i>
            </p>
            <p class="text-small text-muted">
                Evaluación promedio 4.3/5
            </p>
            <p class="text-small text-muted">
                ( 7 votos )
            </p>
        </div>
    </div>
</body>

</html>
