<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="../../css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../../css/normalize.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="footer.css">
    <script src="../../js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="../../js/vendor/jquery-1.12.0.min.js"></script>
    <script src="../../js/vendor/bootstrap/bootstrap.bundle.js"></script>
</head>

<body>

    <footer>
        <nav class="navbar p-0 fixed-bottom">
            <div class="container py-2">
                <a class="navbar-brand footer-logo col-12 col-md-4 text-center" href="#">
                    <img src="../../assets/img/tile.png" class="d-inline-block align-top" alt="">
                </a>

                <div class="d-flex flex-grow-1 px-5 d-none d-md-block">
                    <ul class="navbar-nav flex-row w-100 justify-content-between">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">EMPRESA <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">PRODUCTOS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">UEB</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">NOTICIAS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">ATENCION CIUDADANA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">FAQS</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="container-fluid m-0 justify-content-center footer-bottom">
                <p class="m-0"> Copyright 2020. Diseñado y desarrollado por Pyxel Solutions </p>
            </div>
        </nav>
    </footer>
</body>

</html>
